.article {
  &__title {
    margin: 0 0 0.5rem;
    line-height: 1.1;
    
  }

  &__title span {
    line-height: 1.1;
    @include link;
  }

  &:hover .article__title span  {
    @include hover;
  }

  & time {
    display: inline-block;
    margin-bottom: 1rem;

    font-size: 0.8rem;
  }

  & p {
    margin-top: 0;
    margin-bottom: 0;

    font-size: .9rem;
  }
}