.logo {
  margin-bottom: 3rem;
  margin-top: 47px;

  transition: color .2s ease-in-out;

  &__title {
    display: block;

    font-size: 8vw;
    text-shadow: 
        0.03em -0.04em #ed65e8,
        -0.03em 0.04em #f9f32f;

    transform: translateX(-.3rem);  
    transition: text-shadow .2s ease-in-out;
  }

  &__subheading {
    font-size: 2.5vw;
    transition: color .2s ease-in-out;
  }

  &:hover .logo__title {
    text-shadow: 0 0 transparent;
  }

  &:hover .logo__title,
  &:hover .logo__subheading {
    color: #1a949c;
}
}