html {
  font-size: 19px;
  line-height: 1.58;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.73);
  word-wrap: break-all;
  word-wrap: break-word;
}

a {
  color: black;
  text-decoration: none;
}

h1, 
h2, 
h4 {
  font-family: 'Roboto Slab', serif;
  color: rgba(0, 0, 0, 0.9);
}

h1 {
  line-height: 1.1;
}

h2 {
  font-size: 1.51572rem;
}

h4 {
  font-size: .9rem;
}